body
	background: #FFF




.grid
	position: relative
	overflow: hidden
.item
	display: block
	position: absolute
	width: 25%
	padding-top: 25%
	margin: 0
	z-index: 1
	background: #000
	color: #fff
	&.red
		background-color: red
.item.muuri-item-dragging
	z-index: 3
.item.muuri-item-releasing
	z-index: 2
.item.muuri-item-hidden
	z-index: 0
.item-content
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%



// select
.select
	width: 400px
.img-flag
	width: 10px
	height: 10px
