---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="grid">
		{% for item in [
			{classList: 'foo'},
			{classList: 'foo'},
			{classList: 'red'},
			{classList: 'foo'},
			{classList: 'foo'},
			{classList: 'foo'},
			{classList: 'foo'},
			{classList: 'red'},
			{classList: 'foo'},
			{classList: 'foo'},
			{classList: 'foo'},
			{classList: 'red'}
		]%}
			<div class="item js-item {{item.classList}}">
				<div class="item-content">
					<div class="my-custom-content">
						Yippee!
						{{loop.index}}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="select">
		<select class="select__in js-select" style="width: 100%">
			<option data-value="oregon" >Oregon</option>
			<option data-value="wa">Washington</option>
			<option data-value="ak">ak</option>
		</select>
	</div>

{% endblock %}
